.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  gap: 47px;
}
.logo {
  display: flex;
  gap: 10px;
  flex: 1;
  align-items: center;
}
.logoImage {
  display: flex;
  border-radius: 50px;
}
.title {
  font-weight: 500;
  /* font-style: italic; */
  color: #ff6f2e;
  font-size: 30px;
  letter-spacing: 1.2px;
  /* Fill color */
  /* Border color and thickness */
  text-shadow: 1px 0 #001460, -1px 0 #001460, 0 1px #001460, 0 -1px #001460,
    1px -1px #001460, -1px -1px #001460, -1px 1px #001460, 1px 0 #001460,
    0 2px #001460, 2px 2px #001460;
  font-weight: 700;
}
.darkTitle {
  font-weight: 500;
  /* font-style: italic; */
  color: #b4bdff;
  font-size: 30px;
  letter-spacing: 1.2px;
  /* Fill color */
  /* Border color and thickness */
  text-shadow: 1px 0 #36427d, -1px 0 #36427d, 0 1px #36427d, 0 -1px #36427d,
    1px -1px #36427d, -1px -1px #36427d, -1px 1px #36427d, 0 2px #36427d,
    2px 2px #36427d;
  font-weight: 700;
}
.themeBtn {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  position: absolute;
}

.links {
  display: flex;
  align-items: center;
  gap: 40px;
  flex: 1;
  font-size: 18px;
  font-weight: 400;
}
.linkText {
  letter-spacing: 1.8px;
  color: #ff6f2e; /* Fill color */
  /* Border color and thickness */
  text-shadow: 0.5px 0 #001460, -0.5px 0 #001460, 0 0.5px #001460,
    0 -0.5px #001460, 0.5px -0.5px #001460, -0.5px -0.5px #001460,
    -0.5px 0.5px #001460, 1px 0 #001460, 0 2px #001460, 2px 2px #001460;
  font-weight: 700;
}

.darkLinkText {
  letter-spacing: 1.8px;
  color: #b4bdff; /* Fill color */
  /* Border color and thickness */
  text-shadow: 0.5px 0 #36427d, -0.5px 0 #36427d, 0 0.5px #36427d,
    0 -0.5px #36427d, 0.5px -0.5px #36427d, -0.5px -0.5px #36427d,
    -0.5px 0.5px #36427d, 1px 0 #36427d, 0 2px #36427d, 2px 2px #36427d;
  font-weight: 700;
}
@media screen and (max-width: 1280px) {
  .container {
    gap: 40px;
  }
  .darkTitle,
  .title {
    font-size: 28px;
  }
  .links {
    font-size: 16px;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    gap: 30px;
  }
  .darkTitle,
  .title {
    font-size: 22px;
  }
  .themeBtn {
    width: 25px;
    height: 12px;
  }
  .ball {
    width: 10px;
    height: 10px;
    align-items: center;
  }
  .links {
    font-size: 14px;
    gap: 26px;
  }
}
@media screen and (max-width: 768px) {
  .container {
    gap: 12px;
  }
  .darkTitle,
  .title {
    font-size: 16px;
  }
  .themeBtn {
    width: 25px;
    height: 12px;
  }
  .ball {
    width: 10px;
    height: 10px;
    align-items: center;
  }
  .links {
    font-size: 12px;
    gap: 10px;
  }
}
@media screen and (max-width: 640px) {
  .darkLinkText,
  .linkText {
    display: none;
  }
}
