.link {
  cursor: pointer;
  color: #001460;
  background-color: #ff6f2e;

  border-top: 1px solid #001460;
  border-left: 1px solid #001460;
  border-right: 2px solid #001460;
  border-bottom: 2px solid #001460;

  padding: 5px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.darkLink {
  cursor: pointer;
  color: #001460;
  background-color: #b4bdff;

  border-top: 1px solid #36427d;
  border-left: 1px solid #36427d;
  border-right: 2px solid #36427d;
  border-bottom: 2px solid #36427d;

  padding: 5px 20px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.link:hover {
  background-color: #bf5628;
}
.darkLink:hover {
  background-color: #4858a6;
}
.authContainer {
  display: flex;
  align-items: center;
  gap: 12px;
}
.writeBtn {
  cursor: pointer;
  color: #001460;
  background-color: #00b600;

  border-top: 1px solid #001460;
  border-left: 1px solid #001460;
  border-right: 2px solid #001460;
  border-bottom: 2px solid #001460;

  padding: 5px 28px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.darkWriteBtn {
  cursor: pointer;
  color: #001460;
  background-color: #2acdb1;

  border-top: 1px solid #36427d;
  border-left: 1px solid #36427d;
  border-right: 2px solid #36427d;
  border-bottom: 2px solid #36427d;

  padding: 5px 28px;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.writeBtn:hover {
  background-color: #008200;
}
.darkWriteBtn:hover {
  background-color: #1e8f7e;
}
